#heading {
    padding-left: 0px;
    width: 183px;
    padding-top: 5px;
}

.widewrapper.footer {
    background-color: white;
    color: black
}

.dark {
    color: black
}

.index {
    background-color: #0c0909;
    color: #15a5de;
}
