#heading {
    padding-left: 0px;
    padding-right: 0px;
    width: 200px;
    word-break: break-all;
    padding-top: 5px;
    line-height: 27px;
}

.widewrapper.footer {
    background-color: white;
    color: black
}

.dark {
    color: black
}

.index {
    background-color: #242b32;
    
}

.blog-teaser .body{
    color: white;
}

.blog-teaser header h3 {
    color: white;
}

.blog-teaser header .meta {
    color: white; 
}

.aside-widget header h3 {
    color: white;
}